@using CaioComputers.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h2 class="offset-1">@ViewBag.Title</h2>
        </div>
        <div class="col-md-4"></div>
    </div>

@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-signin", role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="form-label-group">
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email address" })
        @Html.LabelFor(m => m.Email)
    </div>

    <div class="form-label-group">
        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
        @Html.LabelFor(m => m.Password)
    </div>

    <div class="checkbox mb-3">
        <label>
            @Html.CheckBoxFor(m => m.RememberMe)
            @Html.LabelFor(m => m.RememberMe)
        </label>
    </div>
    <input class="btn btn-lg btn-primary btn-block" type="submit" value="Sign in"/>
    <p>
        @Html.ActionLink("Register as a new user", "Register")
    </p>
    @* Enable this once you have account confirmation enabled for password reset functionality
        <p>
            @Html.ActionLink("Forgot your password?", "ForgotPassword")
        </p>*@
}





@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}